{% extends 'layout.html' %}

{% block body_block %}
    <h1>Collect Data</h1>
    <hr>
    <form action="" method="POST">
        <div class="form-group">
            <br>
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Refugee's full name" required><br>
            <label for="name">Age</label>
            <input class="form-control" type="number" name="age" id="age" placeholder="Refugee's approximate age" required><br>
            <label for="gender">Gender</label>
            <select class="form-control" name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br>
            <label for="address">Address</label>
            <input class="form-control" type="text" name="address" id="address" placeholder="Refugee's current location" required><br>
            <label for="origin">Origin</label>
            <input class="form-control" type="text" name="origin" id="origin" placeholder="Refugee's original country" required><br>
            <label for="bloodG">Blood Group</label>
            <select class="form-control" name="bloodG" id="bloodG">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="Unknown" selected>Unknown</option>
            </select><br>
            <label for="physical">Physical Condition</label>
            <select class="form-control" name="physical" id="physical">
                <option value="Stable">Stable</option>
                <option value="Unstable">Unstable</option>
            </select><br>
            <label for="number">Contact Number</label>
            <input class="form-control" type="number" name="number" id="number" placeholder="Mobile number for emergency contact" required><br>
            <label for="number">Educational Level</label>
            <select class="form-control" name="education" id="education">
                <option value="Primary">Primary</option>
                <option value="Secondary">Secondary</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Uneducated">Uneducated</option>
            </select><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}