{% extends 'layout.html' %}

{% block body_block %}
    <h1>Name: {{ rco_form.name }}</h1>
    {# <small>Author: {{ article.author }} on {{ article.create_date }}</small> #}
    <hr>
    <div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Blood Group</th>
                <th>Address</th>
                <th>Origin</th>
                <th>Physical Condition</th>
                <th>Educational Level</th>
                <th>Contact Number</th>
            </tr>
            <tr>
                <td>{{ rco_form.id }}</td>
                <td>{{ rco_form.age }}</td>
                <td>{{ rco_form.gender }}</td>
                <td>{{ rco_form.bloodG }}</td>
                <td>{{ rco_form.address }}</td>
                <td>{{ rco_form.origin }}</td>
                <td>{{ rco_form.physical }}</td>
                <td>{{ rco_form.education }}</td>
                <td>{{ rco_form.number }}</td>
             </tr>
        </table>
    </div>
    
{% endblock %}